body {
    background: #cccc;
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    background: #000;
    padding: 1px;
}
h2 {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
.search {
     padding: 12px;
     margin-top: 20px;
     width:500px;
}
.col-4 {
    margin-left: 300px;
}
.btn {
    padding: 12px;
}
a{
    text-decoration: none;
    color: #000;
    font-size: 30px;
}
.col-2 {
    margin-left: 300px;
    margin-top: -200px;
}
img {
    border-radius: 50%;
    height: 70px;
    width:70px
}
.profile {
    display: flex;
}
h1 {
    margin-left: 20px;
}
h3 {
    display: flex;
    text-transform: uppercase;
}
.description {
    display: flex;
}
hr {
    padding: auto;
}
.col-2 {
    margin-left: 150px;
    margin-top: -92px;
}
.col-3 {
    margin-top: -92px;
    margin-left: 300px;
}
.following {
    margin-left: 50px;
}
.avatar {
    border-radius: 70%;
    height: 30px;
    width:30px  
}

.Repos {
    margin-left: 50px;
}
.flw {
    margin-top: -27px;
    margin-left: 50px;
}
.img-follower {
    border-radius: 50%;
    height: 40px;
    width:40px
}
.login {
    margin-top: -30px;
    margin-left: 50px;
    text-transform: lowercase;
}
