body {
    background: #cccc;
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    background: #000;
    padding: 1px;
}
h2 {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
.search {
    
     margin-left: 10%;
     padding: 12px;
     margin-top: 20px;
     width:500px;
}
.col-4 {
    margin-left: 5%;
}
.btn {
    padding: 12px;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
}
.col-2 {
    margin-left: 300px;
    margin-top: -200px;
}
img {
    border-radius: 50%;
    height: 70px;
    width:70px
}
.profile {
    display: flex;
    text-transform: lowercase;
    font-size: 18px;
}
h1 {
    margin-left: 20px;
    font-size: 20px;
}
h3 {
    display: flex;
    font-size: 18px;
    text-transform: uppercase;
}
.description {
    display: flex;
    font-size: 12px;
    
    
}
hr {
    padding: auto;
    font-size: 12px;
}
.col-2 {
    margin-top: -92px;
    margin-left: 150px;
}
.col-3 {
    margin-top: -92px;
    margin-left: 300px;
}
.following {
    
    margin-left: 50px;
    font-size: 25px;
}
.avatar {
    border-radius: 70%;
    height: 30px;
    width:30px  
}
.follower-name {
    margin: 0;
    margin-left: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-top: -25px;
}
.Repos {
    
    margin-left: 50px;
    font-size: 25px;
}
.col-6 {
     margin-left: 300px;
    margin-top: -200px;
}

.col-5{
    margin-left:10%;
    margin-right: 5%;
    margin-top: 20px;
}
.col-7{
    
    margin-left:40%;
    margin-right:5%;
    margin-top: -60px;

}
.col-8{
    margin-left:70%;
    margin-right:5%;
    margin-top: -60px;

}
.description1 {
    display: flex;
    font-size: 12px;
}

.containertest2{
    margin-top:1%;
    margin-right:1%;
    margin-bottom:1%;
    margin-left:1%;
   
    /* margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px; */
}