body {
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    background: #000;
    padding: 1px;
}
h2 {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
.search {
     padding: 12px;
     margin-top: 20px;
     width:500px;
}
.col-4 {
    margin-left: 300px;
}
.btn {
    padding: 12px;
}
a{
    text-decoration: none;
    color: #000;
    font-size: 30px;
}
.col-2 {
    margin-left: 300px;
    margin-top: -200px;
}
img {
    border-radius: 50%;
    height: 70px;
    width:70px;
    margin-top: 17px;
}
h1 {
    margin-left: 80px;
    margin-top: -65px;
}
h3 {
    display: flex;
    text-transform: uppercase;
}
hr {
    padding: auto;
}
.col-1 {
    margin-left: 100px;
}
.col-2 {
    margin-left: 450px;
    margin-top: -92px;
}
.col-3 {
    margin-top: -92px;
    margin-left: 800px;
}
.container {
    margin-top: 20px;
    margin-left: 100px;
}
.user-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 300px;
    margin-top: 30px;
}
h4 {
    margin-left: 80px;
}
.text-repos {
    margin-left: 80px;
}
.img-pro {
    border-radius: 50%;
    height: 40px;
    width:40px;
}
