body {
    background: #cccc;
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    background: #000;
    padding: 1px;
}
h2 {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
.search {
     padding: 12px;
     margin-top: 20px;
     width:500px;
}
.col-4 {
    margin-left: 300px;
}
.btn {
    padding: 12px;
}
a{
    text-decoration: none;
}
.col-2 {
    margin-left: 300px;
    margin-top: -200px;
}